body {
    background: linear-gradient(39deg, #ffb9c9, #b9ffe8, #ffd1b9, #d3ffb9);
    background-size: 800% 800%;
    -webkit-animation: PastelGradient 43s ease infinite;
    -moz-animation: PastelGradient 43s ease infinite;
    animation: PastelGradient 43s ease infinite;
}

@-webkit-keyframes PastelGradient {
    0% {
        background-position: 0% 99%
    }

    50% {
        background-position: 100% 2%
    }

    100% {
        background-position: 0% 99%
    }
}

@-moz-keyframes PastelGradient {
    0% {
        background-position: 0% 99%
    }

    50% {
        background-position: 100% 2%
    }

    100% {
        background-position: 0% 99%
    }
}

@keyframes PastelGradient {
    0% {
        background-position: 0% 99%
    }

    50% {
        background-position: 100% 2%
    }

    100% {
        background-position: 0% 99%
    }
}

ul {
    list-style-type: none;
}

.name {
    font-size: 48px;
    font-family: 'Raleway', sans-serif;
    color: #2A2A2A;
}

.description {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    color: #2A2A2A;
}

.titles{
    padding:40px;
}

a {
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    color: #2A2A2A;
    text-decoration:none;
    letter-spacing:5px;
}

    a:hover {
        color: #2A2A2A;
    }

    a:visited {
        color: #2A2A2A;
    }