body {
    background: linear-gradient(270deg, #ffd1dc, #ffe0d1, #d1fff0, #e2ffd1);
    background-size: 800% 800%;
    -webkit-animation: PastelGradient 30s ease infinite;
    -moz-animation: PastelGradient 30s ease infinite;
    animation: PastelGradient 30s ease infinite;
}


@-webkit-keyframes PastelGradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes PastelGradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes PastelGradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

ul {
    list-style-type: none;
}

.name {
    font-size: 48px;
    font-family: 'Raleway', sans-serif;
    color: #2A2A2A;
}

.description {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    color: #2A2A2A;
}

.titles{
    padding:10px;
}

a {
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    color: #2A2A2A;
    text-decoration:none;
    letter-spacing:5px;
}

    a:hover {
        color: #2A2A2A;
    }

    a:visited {
        color: #2A2A2A;
    }